html {
    overflow-x: hidden;
    min-width: 200px;
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

h3 {
    padding-bottom: 20px;
}

p {
    font-size: 20px;
    font-weight: 400;

}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.navbar {
    margin-bottom: 20px;
}

.nav-item .active {
    color: white !important;
}

.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 1000px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}



td,
th {
    padding: 0.75rem;
    text-align: left;
}

tr {
    font-weight: 400;
}