html {
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 200px;
}

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}

main {
    margin: 0 auto;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.navbar {
    margin-bottom: 20px;
}

#indextext {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-item .active {
    color: white !important;
  }