/* 
https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ 
https://material.io/design/color/dark-theme.html
*/
.btn-toggle {
    float: right;
    cursor: pointer;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none !important;
    outline: none !important;
}

[src="images/light-mode-icon.png"] {
    width: 30px;
    height: 30px;
}

[src="images/dark-mode-icon.png"] {
    width: 27px;
    height: 27px;
}

@media (prefers-color-scheme: light) {
    body {
        color: var(--text-color);
        background: var(--bkg-color);
        --text-color: #121212;
        --bkg-color: #fff;
        --anchor-color: #121212;
        --anchor-hover-color: #ff6adf;
        --table-border-color: #121212;

    }

    body.dark-theme {
        --text-color: #eee;
        --text-color: rgba(256, 256, 256, 0.87);
        --bkg-color: #121212;
        --anchor-color: #ffb4ef;
        --anchor-hover-color: #f095dc;
        --table-border-color: rgb(245, 241, 241);
    }

    a {
        color: var(--anchor-color);
    }

    a:hover {
        color: var(--anchor-hover-color)
    }

    td,
    th {
        border: 3px solid var(--table-border-color);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--text-color);
        background: var(--bkg-color);
        --text-color: #eee;
        --text-color: rgba(256, 256, 256, 0.87);
        --bkg-color: #121212;
        --anchor-color: #ffb4ef;
        --anchor-hover-color: #f095dc;
        --table-border-color: rgb(245, 241, 241);
    }

    body.light-theme {
        --text-color: #121212;
        --bkg-color: #fff;
        --anchor-color: #121212;
        --anchor-hover-color: #ff6adf;
        --table-border-color: #121212;
    }

    a {
        color: var(--anchor-color);
    }

    a:hover {
        color: var(--anchor-hover-color)
    }

    td,
    th {
        border: 3px solid var(--table-border-color);
    }
}